Package: com.sacmunraga.clipboardtweak
Name: ClipboardTweak
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Tim Shumeyko
Author: Tim Shumeyko
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
